{% extends "template.html"%} {% block content %} {% include "../navtop.html"%}

<div class="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="输入视频关键字">
        <div class="input-group-append">
            <button id='searchBtn' class="btn btn-outline-secondary" type="button">搜索</button>
        </div>
    </div>
</div>
<div class="postlist">
    <div class="list-group">
        {% for post in posts %}
        <a href="/post?id={{post.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <p class="title">{{post.title}}</p>            
            </div>
            <p class="time">{{post.meetingTime}}</p>
            <p class="content">{{post.intro}}</p>
            <p class="location">{{post.province}}-{{post.city}}</p>
        </a>
        {% endfor%}
    </div>
</div>

{% endblock%}